* {
  color: #4e4eec;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weather-card {
  background-color: #cfd1ff;
  width: 350px;
  height: 400px;
  padding: 5px 20px;
  border-radius: 15px;
  box-shadow: 0 14px 20px rgba(55, 3, 140, 0.17);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;

  .close-btn {
    background: none;
    border: none;
    color: #4444b3;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 10px;

    &:hover {
      transform: scale(1.2);
    }
  }

  .city-name {
    font-size: 35px;
    font-weight: 600;
    color: #4e4eec;
  }

  .temperature {
    font-size: 80px;
    font-weight: 500;
    color: #4e4eec;
  }


  .condition {
    font-size: 32px;
    font-weight: 500;
    color: #4e4eec;
    margin-bottom: 20px;
  }

  .forecast-btn {
    background-color: #e5e5fd;
    color: #3636ccd4;
    border: none;
    border-radius: 40px;
    padding: 18px 40px;
    font-size: 23px;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(55, 3, 140, 0.17);
    transition: all 0.4s ease-in-out;

    &:hover {
      background-color: #4e4eec57;
      color: #3d3dba;
    }
  }
}
